<div>
  <h1>Fichas</h1>
  <table id="infos" class="table dataTables_wrapper form-inline dt-bootstrap no-footer" cellspacing="0" width="100%">
    <thead>
    <tr>
      <th>Organización</th>
      <th>Nombre</th>
      <th>Alias</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @infos.each do |info| %>
        <tr>
          <td><%= info.organizacion %></td>
          <td><%= info.nombre %></td>
          <td><%= info.alias %></td>
          <td><%= link_to 'Ver', info %></td>
          <td><%= link_to 'Editar', edit_info_path(info) %></td>
          <td><%= link_to 'Borrar', info, method: :delete, data: {confirm: 'Borra únicamente fichas erróneas. ¿Estas seguro?'} %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th>Organización</th>
      <th>Nombre</th>
      <th>Alias</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </tfoot>
  </table>


  <br>

  <%= link_to 'Nueva ficha', new_info_path %>
</div>