<style>
.cuadradin{
  float: left;
  width: 120px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
</style>

<h1><%= @info.nombre %></h1>

<p><%= link_to 'Editar', edit_info_path(@info) %> | <%= link_to 'Volver', infos_path %>

<hr>
<h2>Detalles</h2>

<dl>
  <dt><strong>Organizaci贸n:</strong></dt>
  <dd>- <%= @info.organizacion %></dd>
  
  <dt><strong>Nombre:</strong></dt>
  <dd>- <%= @info.nombre %></dd>
  
  <dt><strong>Alias:</strong></dt>
  <dd>- <%= @info.alias %></dd>
  
  <dt><strong>Posici贸n:</strong></dt>
  <dd>- <%= @info.posicion %></dd>
  
  <dt><strong>Descripci贸n:</strong></dt>
  <dd>- <%= @info.descripcion %></dd>
  
  <dt><strong>Color:</strong></dt>
  <dd>- <span class="cuadradin" style="background:<%= @info.color %>;"><p><%= @info.color %></p></span></dd>
		<!-- TODO:
			Hacer que de alguna manera el color [<%= @info.color %>;] escrito con notaci贸n 0xHEX_RGB pase a estar escrito con #HEX_RBB
			* replace 0x with #
			* "#" + @info.color.substring(2,@info.color.count)
			* O algo lo que sea
  
		-->
    
  <dt><strong>Imagen:</strong></dt>
  <dd><p><img src="<%= @info.imagen %>"/></dd>
</dl>