<style>
.cuadradin{
  float: left;
  width: 120px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
</style>

<h1><%= @info.nombre %></h1>

<p><%= link_to 'Editar', edit_info_path(@info) %> | <%= link_to 'Volver', infos_path %>

<dl>
  <dt><strong>Detalles</strong></dt>
  <dd>- <%= @info.detalles %></dd>

  <dt><strong>Organización</strong></dt>
  <dd>- <%= @info.organizacion %></dd>
  
  <dt><strong>Nombre</strong></dt>
  <dd>- <%= @info.nombre %></dd>
  
  <dt><strong>Alias</strong></dt>
  <dd>- <%= @info.alias %></dd>
  
  <dt><strong>Posición</strong></dt>
  <dd>- <%= @info.posicion %></dd>
  
  <dt><strong>Descripción</strong></dt>
  <dd>- <%= @info.descripcion %></dd>
  
  <dt><strong>Imagen</strong></dt>
  <dd><p><img src="<%= @info.imagen %>"/></dd>
  
  <dt><strong>Color</strong></dt>
  <dd><span class="cuadradin" style="background:<%= @info.color %>;"><%= @info.color %></span> <br></dd>
  <script>function ColorFormatForCSS(color){ return '#' + color.substr(2)}
  $(function() {
    var colorcss = ColorFormatForCSS($('.cuadradin').html())
    $('.cuadradin').css({'background-color': colorcss})
    $('.cuadradin').empty();
  })</script>
</dl>